* {
    box-sizing: border-box;
  }
  *:focus {
    outline: 3px dotted #2959ce;
    /* padding: 2px; */
  }
  body {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    font-weight: 500;
  }
  .container {
    max-width: 1200px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .site-top-header {
    background-color: #f6f6f6;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .site-top-container {
    display: flex;
    align-items: center;
  }
  .site-logo {
    display: flex;
    padding: 9px 6px;
    background-color: #fff;
    border-radius: 7px;
    margin-right: 35px;
  }
  .site-logo:hover {
    opacity: 0.8;
  }
  .site-logo:active {
    opacity: 0.6;
  }
  .currency {
    margin-right: auto;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    font-weight: 500;
  }
  .currency-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .currency-item:not(:last-child) {
    margin-right: 25px;
  }
  .currency-item-type {
    color: #2959ce;
  }
  .language-changer {
    background-color: #dce6ff;
    margin-right: 25px;
    padding: 3px;
    border-radius: 39px;
  }
  .global-search {
    margin-right: 25px;
  }
  .global-search-world {
    padding: 15px 20px 13px 41px;
    border-radius: 60px;
    color: #000;
    border: 0;
  }
  
  .language-type {
    width: 30px;
    height: 30px;
    padding: 7px;
    text-decoration: none;
    color: #a6a6a6;
    font-size: 13px;
    line-height: 30px;
  }
  .language-type-avtive {
    background-color: #fff;
    border-radius: 50%;
    color: #000;
  }
  .button {
    text-decoration: none;
    font-weight: 500;
    color: #fff;
    padding: 13px 20px;
    border-radius: 10px;
  }
  
  .button-primary {
    background-color: #2959ce;
  }
  .button:hover {
    opacity: 0.8;
  }
  .button:active {
    opacity: 0.6;
  }
  /* nav qismi */
  .main-nav {
    margin: 0;
    margin-top: 40px;
    border-bottom: 2px solid #d1d1d1;
    margin-bottom: 20px;
  }
  .main-item {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    flex-wrap: wrap;
  }
  .main-items {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    font-family: "Rubik", sans-serif;
    font-style: normal;
    color: #7f7f7f;
  }
  
  /* TOP NEWS */
  .site-maim {
    flex-grow: 1;
  }
  .top-new {
    padding-top: 50px;
  }
  .news-card {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
  }
  .new-grid-article {
    width: 393px;
    padding: 20px 17px 15px;
    margin-bottom: 10px;
    margin: 5px;
  }
  .news-grid-card {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    border-radius: 15px;
  }
  .news-grid-title {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 10px;
    margin-top: 0;
    font-family: Rubik;
    font-style: normal;
  }
  
  .news-grid-article-title-link {
    text-decoration: none;
    font-family: "Rubik";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
    color: #000;
  }
  .news-grid-article-title-link:hover {
    color: #2959ce;
    opacity: 0.8;
  }
  .news-grid-article-title-link:active {
    opacity: 0.6;
  }
  .news-grid-active-text {
    color: #4a4b4c;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 400;
  }
  .news-grid-active-img {
    display: inline-block;
    border-radius: 10px;
  }
  .news-grid-active-footer {
    display: flex;
    align-items: center;
    margin-top: 15px;
  }
  
  .news-grid-active-icon {
    margin-right: 10px;
  }
  
  .top-new-section {
    width: 1050px;
    height: 100px;
    margin: 0;
    margin: auto;
    margin-top: 60px;
    background-image: url(../img/Group\ 35\ 1.png);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .top-new-section h4 {
    width: 404px;
    text-align: left;
    font-size: 20px;
    line-height: 26px;
    margin: 0;
    margin: 24px 29px;
    font-weight: 500;
  }
  .top-new-section a {
    margin: 25px 71px;
    background-color: #f78b3b;
  }
  .news-grid-active-source {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #5e5f61;
  }
  .time {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    color: #5e5f61;
  }
  .blog_card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  /* blog qismi */
  .blog {
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
    padding: 20px;
    width: 797px;
    background-color: #f6f6f6;
    border-radius: 15px;
    display: flex;
  }
  .blog-title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
  }
  
  .blog_item {
    margin: 0;
    padding: 0;
    margin-left: 15px;
  }
  .blog_item_title {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 26px;
  }
  .blog_item_text {
    margin: 0;
    padding: 0;
    padding-top: 10px;
    /* padding-bottom: 20px; */
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #4a4b4c;
  }
  /* blog_right qismi boslandi */
  .blog_right {
    width: 393px;
    margin: 0;
    margin-top: 67px;
  }
  .blog_top {
    background: #f6f6f6;
    border-radius: 15px;
    padding-left: 17px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 25px;
  }
  .blog_right_item{
      margin: 0;
      padding: 0;
       padding-top: 20px;
  }
      .blog_right_item:not(:last-child) {
      padding-bottom: 20px;
  }
  .blog_right_title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    margin: 0;
    padding: 0;
   
  }
  .blog_right_text {
    margin: 0;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 8px;
  
  }
  .blog_right_item:not(:last-child){
      border-bottom: 1px solid#D2D2D2;
  }
  .blog_img {
    margin-top: 10px;
  }
  